{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Samit's Home Page!</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/solo.jpg') }}" alt="ME!" height="550">
                    <div class="card-body">
                    <h5 class="card-title">A Little Bit <mark>About Me</mark>!</h5>
                    <p class="card-text">
                        <ol>
                            <li>I am a junior here at Del Norte!</li>
                            <li>Currently, the classes that I am enrolled in are: AP Calculus BC, AP English Language, AP CSP, Honors Engineering, and AP Physics!</li>
                            <li>I enjoy playing basketball and soccer, and also love hanging out with family and friends! </li>
                            <li>I also enjoy going to the beach, and listening to music!</li>
                        </ol>
                    </p>
                    <a href="https://samitpoojary.github.io/FASTPAGES/about/" class="btn btn-primary">Learn More About Me!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/greece.jpg') }}" alt="Vacation Time" height="450">
                    <div class="card-body">
                    <h5 class="card-title">What are <mark>my</mark>favorite vacation spots?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Bora Bora, French Polynesia</li>
                            <li>Santorini, Greece</li>
                            <li>Rome, Italy</li>
                            <li>Barcelona, Spain</li>
                        </ol>
                    </p>
                    <a href="https://samitpoojary.github.io/FASTPAGES/markdown/personal/2022/08/28/extra-post-with-image.html" class="btn btn-primary">Visit some of my favorite memories!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/team.jpg') }}" alt="Teamwork!" height="350">
                    <div class="card-body">
                    <h5 class="card-title">Meet <mark>my</mark>Scrum Team!</h5>
                    <p class="card-text">
                        <ol>
                            Along with myself, my Scrum Team is joined by Vardaan, Akshat, and David. Together, we are an extremely curious and intrigued group of young programmers, and are currently in the brainstorming/developing process for our final portfolio project!
                        </ol>
                    </p>
                    <a href="https://github.com/DavidVasilev1/flask" class="btn btn-primary">Visit our group's flask github portfolio!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}