<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>After School Itinerary</strong></h1>
        <p class="text-secondary">Anti-Procrastination Aid</p>
        <p class="text-secondary">An event based table that plots my schedule throughout the school week </p>
        
        <div>
            <p>These are some links to my other academic pages :D</p>
            <a href="https://samitpoojary.github.io/FASTPAGES/" class="btn btn-primary">My FastPages!</a>
            <a href="https://github.com/SamitPoojary/FASTPAGES" class="btn btn-primary">My GitHub</a>
          </div>
    </div>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-yf2y{background-color:#F5F5F5;color:#333;text-align:left;vertical-align:top}
        .tg .tg-citn{background-color:#FFF;color:#333;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
        .tg .tg-c4od{background-color:#FFF;color:#337AB7;text-align:left;vertical-align:top}
        .tg .tg-c1wc{background-color:#F5F5F5;color:#337AB7;text-align:left;vertical-align:top}
        table {
            width: 50%;
        }
        td {
            padding-left: 1%;
            padding-right: 1%;
        }
        th {
            padding-left: 3%;
            padding-right: 1%;
        }
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-0lax">Activity / Event</th>
            <th class="tg-0lax">Start Time</th>
            <th class="tg-0lax">End Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-citn">School-Home</td>
            <td class="tg-citn">3:45 PM</td>
            <td class="tg-citn">4:00 PM</td>
            
          </tr>
          <tr>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">Relax</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">4:00 PM</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">4:10 PM</span></td>
            
          </tr>
          <tr>
            <td class="tg-citn">Get Ready For Soccer Practice</td>
            <td class="tg-citn">4:10 PM</td>
            <td class="tg-citn">4:15 PM</td>
            
          </tr>
          <tr>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">Drive to Soccer Practice</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">4:15 PM</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">4:25 PM</span></td>
            
          </tr>
          <tr>
            <td class="tg-citn">Soccer Practice</td>
            <td class="tg-citn">4:30 PM</td>
            <td class="tg-citn">6:00 PM</td>
            
          </tr>
          <tr>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">Drive Home</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">6:00 PM</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">6:15 PM</span></td>
            
          </tr>
          <tr>
            <td class="tg-citn">Shower + Dinner</td>
            <td class="tg-citn">6:15 PM</td>
            <td class="tg-citn">7:00 PM</td>
            
          </tr>
          <tr>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">Homework</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">7:00 PM</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">11:59 PM</span></td>
            
          </tr>
        </tbody>
        </table>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
